* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

main {
	display: grid;
	grid-template-columns: 30% 70%;
	width: 100%;
	height: 100%;
	position: relative;
}
.modif {
	overflow-y: scroll;
	color: #fff;
}

.modif a {
	color: #fff;
}

.modif h3 {
	margin: 0;
	padding: 15px 0px;
	background: 'orange';
	text-align: center;
	background: #34495e;
}

.modif h4 {
	background: 'orange';
	text-align: center;
	background: #2980b9;
	padding: 10px 0;
}

.cv {
	overflow-y: scroll;
	color: #000;
}

.menu {
	height: 100%;
	overflow: visible;
}

.item {
	border-bottom: 1px solid #093958;
	overflow: hidden;
}

.icon {
	display: grid;
	grid-template-columns: 80% 20%;
	background: #2980b9;
}

.btn img {
	border: 1px solid #093958;
	border-radius: 50%;
	width: 20px;
	position: absolute;
	right: 15px;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 16px 0;
	background: #2980b9;
	width: 100%;
	position: relative;
}

.smenu {
	background: #3498db;
	overflow: hidden;
	transition: max-height 0.3s;
	max-height: 0;
}

input {
	color: #000;
}

.smenu label {
	display: block;
	padding: 16px 20px;
	font-size: 14px;
}

.item:target .smenu {
	max-height: 100%;
}

button {
	border: none;
	color: #fff;
}

.principale {
	margin: 0;
	width: 100%;
	border: solid black 1px;
}

@media screen and (max-width: 600px) {
	main {
		grid-template-columns: repeat(1, 100%);
	}

	.modif {
		position: fixed;
		height: 40%;
		width: 100%;
		bottom: 0;
	}

	.cv {
		height: 30%;
	}
}
