/* body{
    margin-top: 80px;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#845EC2,#D65DB1,#FF6F91,#FF9671,#FFC75F,#F9F871);
} */

body {
	/* background: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871); */
	background: #057EFF;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.middle {
	text-align: center;
	transition: color 0.4s linear;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.btn {
	display: block;
	background: none;
	border: 2px solid black;
	border-radius: 10px;
	font-family: monospace;
	text-transform: uppercase;
	padding: 12px 20px;
	min-width: 500px;
	margin: 10px 0;
	color: rgb(32, 32, 32);
	font-weight: bold;
	cursor: pointer;
}


.pagechoix {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn:hover {
	color: black;
	background: rgb(0, 123, 255);
}



@media screen and (max-width: 1050px){
	.btn {
		/* font-size: 2em; 
		padding: 20px 20px;
		margin: 20px;
		margin-left: 60px; */

		min-width: 400px;
	}
}

@media screen and (max-width: 600px){
	.btn {
		/* font-size: 1em;
		margin: 20px;
		margin-left: 60px; */
		min-width: 250px;
	}
}
