* {
	padding: 0;
	margin: 0;
	list-style: none;
}

main {
	/* height: 100vh; */
	width: 100%;
	z-index: 1;
}

.js-blur {
	position: fixed;
	top: 0;
	left: 0;
	background: #4e4e4e86;
	height: 100vh;
	width: 100%;
	/* margin-left: 60px; */
	z-index: 2;
	/* filter: blur(4px); */
}

.js-window-menu {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 55%;
	height: 75%;
	background: #9fa3a8;
	transform: translate(-50%, -50%);
	z-index: 3;
	overflow-y: hidden;
	box-shadow: 4px 4px 8px #00000033;
}

.js-tool-bar {
	background: #5d5d5d;
	width: 100%;
	height: 30px;
	/* border-bottom: #989898 2px solid; */
	/* padding-bottom: 3px; */
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.js-tool-nav,
.js-tool-images {
	height: 30px;
}

.js-tool-nav ul {
	display: inline-flex;
	height: 100%;
}

.js-tool-nav ul li {
	padding: 0 10px;
	height: 100%;
	color: #fff;
	text-transform: capitalize;
}

.js-tool-images .js-img-delete,
.js-tool-images .js-img-other {
	float: right;
	padding: 0 15px;
	height: 100%;
	display: flex;
	align-items: center;
}

.js-tool-images img {
	height: 16px;
	width: 16px;
}

.js-main-menu {
	width: 100%;
	height: calc(100% - 70px);
	overflow-y: scroll;
	position: relative;
}

.js-form-input {
	display: grid;
	grid-auto-columns: 100%;
	grid-auto-rows: 70px;
	margin: 0 50px;
	text-transform: capitalize;
}

.js-input {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: 100px; */
}

.js-input input {
	/* border: #989898 1px solid;
	padding: 0.4em 0.8em;*/
	width: 70%;

	border: 0;
    background: none;
    display: block;
    /* margin: 0 20px; */
    padding: 10px;
    border: 2px solid #1B9CFC;
    /* padding: 14px 5px; */
    /* width: auto; */
    outline: none;
    color: white;
    border-radius: 24px;
    box-shadow: 0 4px 4px #404040;
    transition: 0.25s;
}

.js-input input::placeholder{
	color: white;
}


.js-input input[type="submit"]{
	cursor: pointer;
}
.js-input input[type="submit"]:hover{
	cursor: pointer;
	background: #1B9CFC;
}

.js-form-submit {
	position: fixed;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

/* .js-form-submit button {
	padding: 0.6em;
	width: 200px;
	background: #224fb8;
	border: 2px #1c46a7 solid;
	border-radius: 8px;
} */

.js-form-submit button{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #1b9cfc;
	padding: 14px 30px;
	outline: none;
	color: white;
	border-radius: 20px;
	transition: 0.25s;
	cursor: pointer;
	width: 200px;
	font-size: 1em;
}

.js-form-submit button:hover {
	background: #1b9cfc;
	color: white;
}

/* .js-bottom-line {
	height: 100%;
	width: 100%;
	background: #5d5d5d;
} */

.js-tool-images .js-img-delete:hover {
	background: #a71818;
	cursor: pointer;
}

.js-tool-images .js-img-other:hover,
.js-tool-nav ul li:hover {
	background: #292929;
	cursor: pointer;
}

.js-main-menu::-webkit-scrollbar {
	width: 12px;
}

.js-main-menu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #c1c1c14d;
	border-radius: 10px;
}

.js-main-menu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #bdbdbd80;
}


@media screen and (max-width:1200px){

	.js-form-submit button {
		border: 0;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 2px solid #1b9cfc;
		padding: 14px 30px;
		outline: none;
		color: white;
		border-radius: 20px;
		transition: 0.25s;
		cursor: pointer;
		width: 120px;
		font-size: 1em;
	}

	.js-form-input {
		display: grid;
		grid-auto-columns: 100%;
		grid-auto-rows: 50px;
		margin: 0 10px;
		text-transform: capitalize;
	}

	.comp{
		font-size: 0.8em;
	}
}
