* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
	margin-left: 60px;
}

header{
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

/********** navbar vertical *************/

header nav.navbar-v {
	
	width: 250px;
	height: 100%;
	background-color: #154781;
	color: #fff;
	z-index: 3;
	overflow: hidden;
}

header nav.navbar-v ul {
	display: block;
	margin-top: 20px;
}

header nav.navbar-v ul > li {
	display: flex;
}

header nav.navbar-v ul li a {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
	padding: 10px 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
}

.bar-menu {
	position: relative;
	height: 50px;
	background: #0e498d;
	position: relative;
}

.menuBurger {
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
	margin-left: 10px;
}

.bar-menu img {
	height: 40px;
	width: 40px;
}

.menuDelete {
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 40px;
	right: 0;
	margin-right: 10px;
}

.navbar-v .bar-v img {
	padding: 5px;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-left: 10px;
}

.navbar-v a:hover {
	background: #125cb1;
}

.menuBurger:hover,
.menuDelete:hover {
	transform: rotate(90deg);
	transition: transform 1s;
}

.bar-menu .menuDelete:not(.visible),
.bar-menu .menuBurger:not(.visible) {
	display: none;
}
