.principale {
	margin-bottom: 5%;
	margin-top: 20px;
	height: 100%;
	width: 80%;
	background: white;
}

main {
	display: flex;
	justify-content: center;
}

/*PARTIE EXPERIENCE*/
.titreexp {
	height: 100px;
	width: 100%;
	background: #1a2342;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titreexp h1 {
	margin: 0;
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
}

.experiencespro {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	border: solid black 1px;
	text-align: center;
}

.exp1 {
	border: solid black 1px;
	margin: 5% 2%;
	background-color: #0069d1;
	border-radius: 20px;
	width: 260px;
	font-family: 'Oswald', sans-serif;
}

.exp1 h1 {
	margin: 15px;
	font-family: 'Oswald', sans-serif;
}

.exp2 h1 {
	margin: 15px;
	font-family: 'Oswald', sans-serif;
}

.exp3 h1 {
	margin: 15px;
	font-family: 'Oswald', sans-serif;
}

.exp2 {
	border: solid black 1px;
	margin: 5% 2%;
	background-color: #0069d1;
	border-radius: 20px;
	width: 260px;
	font-family: 'Oswald', sans-serif;
}

.exp3 {
	border: solid black 1px;
	margin: 5% 2%;
	background-color: #0069d1;
	border-radius: 20px;
	width: 260px;
	font-family: 'Oswald', sans-serif;
}

.poste,
.entreprise,
.begindate,
.enddate,
.fonction {
	margin-bottom: 15px;
}

.centerimgexp1 {
	margin: 20px 0;
}

.centerimgexp2 {
	margin: 20px 0;
	height: 200px;
}

.centerimgexp3 {
	margin: 20px 0;
}

.imgexp1 {
	height: 100%;
	width: 200px;
	border-radius: 20px;
}

.imgexp2 {
	height: 100%;
	width: 200px;
	border-radius: 20px;
}

.imgexp3 {
	height: 100%;
	width: 200px;
	border-radius: 20px;
}

/*PARTIE PARCOURS*/
.titreparcours {
	height: 100px;
	width: 100%;
	background: #1a2342;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
}

.titreparcours h1 {
	margin: 0;
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
}

.parcours {
	/* display: grid;
    grid-template-columns: 20% 80%; */
	background: white;
	border: 1px solid black;
}

.parcours1 {
	display: grid;
	grid-template-columns: 20% 80%;
}

.parcours2 {
	display: grid;
	grid-template-columns: 80% 20%;
}

.parcours3 {
	display: grid;
	grid-template-columns: 20% 80%;
}

.parc1 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	border: solid black 1px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.parc2 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	border: solid black 1px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.parc3 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	border: solid black 1px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.imgparc {
	height: 100%;
	width: 100%;
	border-radius: 20px;
}

/*PARTIE COMPETENCE*/
.titrecompetence {
	height: 100px;
	width: 100%;
	background: #1a2342;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
}

.titrecompetence h1 {
	margin: 0;
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
}

.compétences {
	font-family: 'Oswald', sans-serif;
	display: grid;
	grid-template-columns: 50% 50%;
	border: 1px black solid;
	width: 100%;
}

.center {
	width: 95%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #333;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}

.compclés {
	margin: 0;
	padding: 0;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.skillbox {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 1px solid black;
}
.skillbox .comp {
	color: black;
	text-transform: uppercase;
	margin: 0 0 10px;
	padding: 0;
	font-weight: bold;
	letter-spacing: 1px;
}

.skillbox .comp:nth-child(2) {
	float: right;
	position: relative;
	top: -25px;
}

.skill {
	background: #262626;
	padding: 4px;
	box-sizing: border-box;
	border-radius: 2px;
}

.skill_level_html {
	background: #f06527;
	width: 100%;
	height: 10px;
}

.skill_level_css {
	background: #2b64ea;
	width: 100%;
	height: 10px;
}
.skill_level_c {
	background: #278f52;
	width: 100%;
	height: 10px;
}
.skill_level_python {
	background: #ffd13e;
	width: 100%;
	height: 10px;
}

.skill_level_ccna {
	background: #bbdefb;
	width: 100%;
	height: 10px;
}

.skill_level_server {
	background: #2196f3;
	width: 100%;
	height: 10px;
}

/*PARTIE COMPETENCES LINGUISTIQUES*/
.compétenceslangue {
	font-family: 'Oswald', sans-serif;
	border: 1px black solid;
	width: 100%;
}

.skill_level_fr {
	background: #ff3d00;
	width: 100%;
	height: 10px;
}

.skill_level_en {
	background: #3f51b5;
	width: 100%;
	height: 10px;
}

.skill_level_es {
	background: #ffc107;
	width: 100%;
	height: 10px;
}

.skill_level_port {
	background: #006600;
	width: 100%;
	height: 10px;
}

@media screen and (max-width: 650px) {
	.compétences {
		display: grid;
		grid-template-columns: 100%;
	}
}
